* {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --black: #0d114f;
    --white: #fafafa;
    --red: #e83f5b;
    --light-blue: #e0ecff;
    --blue: #3485ff;
    --background: #f6faff;
    --overlay: #040911;
    --icons-details: #a5b0c1;
    --grey-dark: #4d5e77;
    --grey-blue: #a1b2cd;
    --grey-light: #e5eaf1;

    /* normalizando o tamanho de font-size em 10px em % */
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    background: var(--background);
}

body, textarea {
    /* clamp e um intervalo de tamanho */
    font-size: clamp(14px,1.6rem, 2vw); /*minsize, std, maxsize*/
    font-family: 'Open Sans', sans-serif;
}

button, input,  .button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.content {
    width: 100%;
    margin: 0 auto;
}

.sr-only {
    /*display none remove a tag das search engine*/
    position: absolute; /*posicionamento do elemento se torna totalmente independente dos demais elementos da página*/
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0,0);
    white-space: nowrap;
    border-width: 0;
}

/*input and buttons*/

input, button, .button{
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* o icone nao é texto, por isso nao pode ser usado text-align*/
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: filter .2s;
}

button:hover, .button:hover{
    filter: brightness(1.2);

}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}
button.outlined,
.button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue)
}

.content header{
    width: 80%;
    margin: 3.5rem auto;
}

.content header img{
    width: 16.7rem;

}